.container-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cp_embed_wrapper {
	display: flex;
	resize: both;
	overflow: hidden;
}

.cp_embed_wrapper iframe {
	flex-grow: 1;
}
